# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.gcda
*.gcno
tessellation_demo

# Packages #
############
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite
